.ant-card {
    width: 200px;
    margin-Top: 50px;
    margin-Left:30px;
    border-Radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    background: #F3F3F3;
    float: left;
}

.ant-card-head-title {
    border-bottom: 1px solid black;
}

.ant-space-item {
    width: 250px;
}
